body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #004080;
  color: white;
  padding: 1rem;
}

img {
  width: 100%;
  max-width: 1700px;
  border: 3px solid #ccc;
  margin: 20px 0;
}

ul {
  text-align: left;
  display: inline-block;
}


